uvicorn==0.32.1
fastapi==0.115.5
httpx==0.25.1
# http
# asyncio

# json
# os

pydantic==2.3.0
# typing
# logging

transformers==4.34.1
torch==2.0.1
numpy==2.1.3

gensim==4.3.2
rank_bm25==0.2.2
pymorphy2==0.9.1

# gdown==5.2.0